<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Daftar Produk</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <input id="txtTotalContent" type="hidden" class="easyui-numberbox" value="$total" />
        <table>
            #foreach($p in $products)
                #if($p.pictures.isEmpty())
                    #set($urlImg = "img/product/noProduct.png")
                #else
                    #set($urlImg = $p.pictures.get(0))
                #end
                <tr>
                    <td>
                        <img src="$urlImg" style="width:120px; height: 120px; margin-right:20px" />
                    </td>
                    <td>
                        <a href="detail-content?id=$p.productCode">$p.productCode</a><br>
                        <a href="detail-content?id=$p.productCode">$p.productName</a><br>
                        $p.productInfo <br>
                        Rp. $!numberTool.format('#,##0',$p.price) <br>
                    </td>
                </tr>
            #end
        </table>
        <script language="javascript">
            $(document).ready(refreshTotalContent);
        </script>
    </body>
</html>
