<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Contact Us</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div class="ftitle">Contact Us</div>
        <div class="fitem">  
            <label>email</label>  
            <label>admin-curvasud@gmail.com</label>
        </div>
        <div class="fitem">  
            <label>phone</label>  
            <label>021-12345678</label>
        </div>
        <div class="fitem">  
            <label>fax</label>  
            <label>021-87654321</label>
        </div>
        <div class="fitem">  
            <label>Mobile</label>  
            <label>0852 1234 1233</label>
        </div>
        <div class="fitem">  
            <label>YM</label>  
            <label>curvasud.stonline</label>
        </div>
        <div class="fitem">  
            <label>Facebook</label>  
            <label><a href="https://www.facebook.com/pages/Curva-Sud-Online-Shop/147419332054354">Curvasud Online Shop</a></label>
        </div>
    </body>
</html>
