<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Curvasud Online Store</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div id="content_product" class="easyui-panel" style="height:600px"  
                data-options="href:'content?page.page=1&page.size=20', method:'POST'">  
        </div>  
        <div id="content_pagination" class="easyui-pagination" style="border:1px solid #ccc; background: #000;"  
                data-options="
                    pageSize: 20,
                    onSelectPage: function(pageNumber, pageSize){  
                        $('#content_product').panel('refresh', 'content?page.page='+pageNumber+'&page.size='+pageSize);  
                    }">  
        </div>
    </body>
</html>
